html,
body,
div,
h1,
p,
form,
label {
  margin: 0.25rem 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  vertical-align: baseline;
  color: #331c00;
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgba(251, 140, 0, 0.75),
      rgba(238, 93, 41, 0.75)
    ),
    url(./travel.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 5rem;
}

p,
label {
  margin: 1rem 0;
  font-weight: 400;
}

form {
  background-color: rgba(255, 232, 204, 0.75);
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 5rem 0;
}

textarea {
  font-family: inherit;
  height: 10rem;
  width: 35rem;
}

input,
select,
textarea {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: none;
  font-size: inherit;
  color: inherit;
}

input[type="checkbox"],
input[type="radio"] {
  transform: scale(1.5);
  margin-right: 0.5rem;
}

button {
  font-size: inherit;
  background-color: #ee5d29;
  border-radius: 0.25rem;
  font-family: inherit;
  border: none;
  padding: 1rem;
  color: #fff;
  margin-top: 1rem;
}

#description {
  font-style: italic;
}
